:root {
  --colorMasClaro: rgb(162, 250, 163);
  --colorClaro: #92c9b1;
  --colorMedio: #4f759b;
  --ColorOscuro: #5d5179;
  --ColorMasOscuro: rgb(87, 31, 78);
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Abel", sans-serif;
  color: white;
}

#header {
  background-color: var(--ColorMasOscuro);
}

.nav-link {
  color: var(--colorMasClaro) !important;
  border-radius: 3rem;
  text-align: center;
}

.nav-link:hover {
  color: var(--colorMedio);
  background-color: var(--colorMedio);
}

#header-img {
  width: 3rem;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(162,250,162, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#bsToggler {
  background-color: var(--ColorOscuro);
}

.background-guitar {
  position: relative;
  background-image: url(./assets/background.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
}

.background-guitar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    var(--colorMedio),
    var(--ColorMasOscuro)
  );
  opacity: 0.8;
  z-index: -1;
}

.btn-outline-info {
  color: var(--colorMasClaro);
  border-color: var(--colorClaro);
}

.btn-outline-info:hover {
  color: #000;
  background-color: var(--colorClaro);
  border-color: var(--colorMasClaro);
}

.background-guitar > .col > .h3 {
  color: rgba(216, 216, 216, 0.864);
}

#form :nth-child(1n) {
  margin: 1rem;
}

#email {
  max-width: 16rem;
}

#products {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(118, 118, 118) 100%
  );
  color: white;
}

.guitarImg {
  max-width: 100%;
  height: 25rem;
}

@media only screen and (min-width: 768px) {
  #header {
    background-color: transparent;
  }

  #products {
    min-height: 100vh;
  }
}
