:root {
  --colorMasClaro: #A2FAA3;
  --colorClaro: #92C9B1;
  --colorMedio: #4F759B;
  --ColorOscuro: #5D5179;
  --ColorMasOscuro: #571F4E;
  font-size: 16px;

}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--ColorMasOscuro)
}

header {
  background-color: var(--ColorOscuro);

}

.nav-link {
  color: var(--colorMasClaro);

}

.nav-link:hover {
  color: var(--colorMedio);
  background-color: var(--colorMasClaro);
}

nav>div>#header-img {
  width: 3rem;
}